@import '../../res/scss/colors.scss';
@import '../../res/scss/mixins.scss';

.engine{

    @include mobile{ height: 100%; }

    .engineSelection{
        height: 70vh;
        width:100%;
        display: flex;

        @include mobile{
            flex-wrap: wrap;
        }

        .engineImage, .avaibleEngines{
            width: 50%;

            @include mobile{
                width: 100%;
            }
        }

        .engineImage{
            text-align: center;

            @include mobile{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 35vh;
                width: 50vw;
                margin: 0 auto;
            }

            img{ 
                height: 100%;

                @include mobile{
                    transform: rotate(-90deg);
                    height: initial;
                    width: 100%;
                }
            }
        }

        .avaibleEngines{

            .title{
                margin: 5%;
                font-size: 48px;
                font-weight: 300;
                color: $neutral-text;

                @include mobile{
                    font-size: 26px;
                    position: absolute;
                    top: 50px;
                }
            }

            .engineDetails{
                background: $neutral-content;
                margin: 0 15% 5% 5%;
                display: flex;
                align-items: center;

                @include mobile{
                    margin: 0 1em 5%;
                }

                .items{
                    display: flex;
                    width: 80%;
                    justify-content: space-between;
                    align-items: center;
                    list-style: none;
                    font-size: 28px;
                    margin: 15px 0;
                    font-weight: 300;

                    @include mobile{
                        padding-left: 15px;
                        font-size: 22px;
                    }

                    li{
                        strong{ font-weight: 500; }
                        opacity: .3;
                        letter-spacing: 2px;

                        &:not(:first-of-type){
                            font-size: 22px;
                            color: $opaque-text;
                            strong{ color: $neutral-text }

                            @include mobile{ font-size: 14px; }
                        }

                        &:first-of-type{
                            strong{ color: $primary }
                        }
                    }
                }

                &.active{
                    li{
                        opacity: 1;
                    }
                }

                .action{
                    width: 30%;
                    height: 25px;
                    position: relative;
                    width: 25px;
                    margin: 0 20px 0 100px;

                    @include mobile{ 
                        margin: 0 20px;
                    }

                    &:after{
                        content: '';
                        background: #FFF;
                        width: 25px;
                        height: 25px;
                        position: absolute;
                        border-radius: 50%;
                        right: 0px;
                        cursor: pointer;
                    }

                    &:checked:after{
                        background: $primary;
                    }
                }
            }
        }

    }
}