$primary: #AB1725;
$accent: #AB1725;

$neutral-text: #0F1C2D;
$opaque-text: #484848;
$neutral-content: #f7f9fA;
$neutral-container: #FFF;

$neutral-radio: #f2f2f2;
$active-radio: #2e3948;

$document: #fefefe;