@import '../../res/scss/colors.scss';
@import '../../res/scss/mixins.scss';

.color{

    .colorSelection{
        display: flex;

        @include mobile{
            flex-wrap: wrap;
        }

        .vehicle, .avaibleColors{
            width: 50%;

            @include mobile{
                width: 100%;
            }
        }

        .vehicle{

            @include mobile{
                margin-top: 10%;
            }
            
            .color{
                text-align: center;
                transform: translateY(50px);

                img{
                    @include mobile{
                        width: 100%;
                    }
                }
            }

            p{
                margin-left: 9em;
                font-size: 18px;
                font-weight: 500;

                &:not(.name){
                    color: $primary;
                    margin-top: 10px;
                }

                @include mobile{
                    width: 100%;
                    margin: 0;
                    text-align: center;                   

                    &:not(.name){
                        margin-top: 0;
                    }

                    &.name{
                        margin-top: 10px;
                    }
                }
            }
        }

        .avaibleColors{

            .intro{

                @include mobile{
                    position: absolute;
                    top: 50px;
                }
                
                .title{
                    margin: 5% 5% 2%;
                    font-size: 48px;
                    font-weight: 300;

                    @include mobile{
                        font-size: 26px;
                    }
                }

                .description{
                    margin: 0 5%;
                    color: $opaque-text;
                    opacity: .5;
                    letter-spacing: 0;
                    width: 65%;

                    @include mobile{
                        width: calc(100% - 10%);
                        font-size: 12px;
                    }
                }
            }

            .colorSelector{
                display: flex;
                justify-content: space-between;
                height: 40%;
                align-items: center;
                width: 50%;
                margin-left: 40px;

                @include mobile{
                    width: calc(100% - 40px);
                    height: 100%;
                    margin: 10% auto 0;
                }

                .colorItem{
                    position: relative;
                    cursor: pointer;

                    &:after{
                        content: '';
                        position: absolute;
                        height: 48px;
                        width: 48px;
                        background: transparent;
                        border-radius: 50%;
                        border: 10px solid $neutral-radio;
                        left: -9px;
                        top: -9px;

                        @include mobile{
                            height: 38px;
                            width: 38px;
                        }
                    }

                    &.active:after{
                        border: 10px solid $active-radio;
                        box-shadow: -4px 4px 13px rgba(0, 0, 0, 0.317538);
                    }

                    @include mobile{
                        img{
                            height: 40px;
                            width: 40px;
                        }
                    }
                }
            }
        }
    }
}