@font-face {
    font-family: 'Saira Condensed';
    font-style: normal;
    font-weight: 300;
    src: local('Saira Condensed Light'),
         local('SairaCondensed-Light'), 
         url(https://fonts.gstatic.com/s/sairacondensed/v4/EJRLQgErUN8XuHNEtX81i9TmEkrnCclQ962fhC61Hg.woff2) 
         format('woff2');
  }
  
  @font-face {
    font-family: 'Saira Condensed';
    font-style: normal;
    font-weight: 400;
    src: local('Saira Condensed Regular'), 
         local('SairaCondensed-Regular'),
         url(https://fonts.gstatic.com/s/sairacondensed/v4/EJROQgErUN8XuHNEtX81i9TmEkrvoutF2o-Srg.woff2) 
         format('woff2');
  }
  
  @font-face {
    font-family: 'Saira Condensed';
    font-style: normal;
    font-weight: 500;
    src: local('Saira Condensed Medium'),
         local('SairaCondensed-Medium'),
         url(https://fonts.gstatic.com/s/sairacondensed/v4/EJRLQgErUN8XuHNEtX81i9TmEkrnUchQ962fhC61Hg.woff2)
         format('woff2');
  }  